# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Nothing in this repo is machine-generated output that should be committed.
# If you add a scratch script, do not commit it.
*.log
*.tmp